[Unit]
Description=Ghost systemd service for blog: blog-napchart-com
Documentation=https://docs.ghost.org

[Service]
Type=simple
WorkingDirectory=/srv/ghost
User=999
Environment="NODE_ENV=production"
ExecStart=/usr/local/bin/node /usr/local/bin/ghost run
Restart=always

[Install]
WantedBy=multi-user.target
